<?xml version="1.0" ?>

<launch>

	<node pkg="swm_ros_interface" type="swm_ros_interface" name="swm_ros_interface" output="screen">
		<param name="pub/system_status" value="true" type="bool" />
		<param name="pub/geopose" value="true" type="bool" />
		<param name="pub/wasp_images" value="true" type="bool" />
		<param name="pub/wasp_artva" value="true" type="bool" />
		<param name="pub/mms_status" value="true" type="bool" />
		<param name="sub/geopose_bg" value="true" type="bool" />
		<param name="swm_zyre_conf_file" value="swm_zyre_config_wasp105.json" type="string" />
		<param name="pub/victims" value="true" type="bool" />
	</node>
	
</launch>
